@page "/forwards"
@using Koncierge.Core.K8s
@using Koncierge.Core.K8s.Namespaces

@inject IKonciergeNamespaceService _nameSpace;

<h1>Forwards</h1>


@code {
    private string _selectedKubeconfigPath;
    private List<string> _namespaces = new();

    private async Task PickKubeconfigFile()
    {
        /*
        var fileTypes = new FilePickerFileType(
            new Dictionary<DevicePlatform, IEnumerable<string>>
            {
                { DevicePlatform.WinUI, new[] { ".yml", ".yaml" } },
                { DevicePlatform.Android, new[] { "application/x-yaml" } },
                { DevicePlatform.MacCatalyst, new[] { "public.yaml" } }
            }
        );

        var options = new PickOptions
        {
            PickerTitle = "Select Kubeconfig File",
            FileTypes = fileTypes
        };

        var result = await FilePicker.Default.PickAsync(options);
        if (result != null)
        {
            _selectedKubeconfigPath = result.FullPath;
            await LoadNamespacesAsync();
        }
        */

        _selectedKubeconfigPath = "C:\\Users\\david\\.kube\\config";
        await LoadNamespacesAsync();

    }


    private async Task LoadNamespacesAsync()
    {
        if (!string.IsNullOrEmpty(_selectedKubeconfigPath))
        {
            _namespaces = await _nameSpace.GetNamespacesAsync(_selectedKubeconfigPath);
            StateHasChanged();
        }
    }


}
