@using KonciergeUi.Client.State
@inherits LayoutComponentBase

@inject UiState _uiState;

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private MudThemeProvider? _mudThemeProvider;
    private MudTheme _theme = new MudTheme();
    private bool _isDarkMode = false;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _mudThemeProvider != null)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemDarkModeAsync();
            await UpdateTheme(_uiState.CurrentTheme);
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        _uiState.ThemeChanged += async (sender, theme) => await UpdateTheme(theme);
    }

    private async Task UpdateTheme(string theme)
    {
        if (_mudThemeProvider == null) return;

        _isDarkMode = theme switch
        {
            "Dark" => true,
            "Light" => false,
            _ => await _mudThemeProvider.GetSystemPreference()
        };
        
        StateHasChanged();
    }
}